/*
file created by Erfan Moharramkhani, 20 NOV 2020
 */
@font-face {
    font-family: IRANSansWeb;
    src: url("fonts/IRANSansWeb(FaNum).woff");
}
body{
    font-family: IRANSansWeb, Tahoma;
    background-color: azure;
}
input {
    font-family: IRANSansWeb, Tahoma;
}
.main-form{
    background-color: cornsilk;
    width: 33%;
    margin: 0 auto;
}
.main-form label:not([for="single"]):not([for="married"]){
    width: 160px;
    display: inline-block;
    padding: 15px;
}
.main-form input:not([type="radio"]):not([type="checkbox"]), .main-form textarea, .main-form select{
    width: 240px;
    height: 30px;
    margin-top: 15px;
    outline: none;
    font-family: IRANSansWeb;
    resize: vertical;
    font-size: 1em;
}

#address{
    height: 45px;
}
.main-form input:focus {
    border: darkorange 1px solid;
    border-radius: 1px;
}
.main-form input[type="submit"]{
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.1em !important;
    background-color: #6495ed;
    border: 0;
    border-radius: 10px;
    color: black;
    -webkit-appearance: none; /* disable native styling in ios devices */
}
.main-form input[type="submit"]:hover{
    box-shadow: 0 6px 20px 0 #6495ed;
    cursor: pointer;
}
.birth-field{
    width: 65px !important;
    display: inline-block;
    margin: 0 !important;
}
#phone{
    width: 220px;
}
#phonePrefix{
    width: 20px;
}

.valid{
    border: lightgreen 2px solid;
    border-radius: 4px;
}
.invalid{
    border: red 2px solid;
    border-radius: 4px;
}
/* mobile device */

@media (max-width: 600px) {
    .main-form{
        width: 90%;
        padding: 0 10px 0 10px;
    }

    .main-form label:not([for="single"]):not([for="married"]){
        width: 130px;
        font-size: 1em;
        padding: 0;
    }
    .main-form label[for="marital"]{
        padding-top: 10px !important;
    }

    .main-form input:not([type="radio"]):not([type="checkbox"]), .main-form textarea, .main-form select{
        width: 185px;
    }
    #phone{
        width: 180px;
    }
    .birth-field{
        width: 35px !important;
    }
}

@media (max-width: 1000px) and (min-width: 601px) {
    .main-form{
        width: 85%;
    }
}

@media (max-width: 1400px) and (min-width: 1001px) {
    .main-form{
        width: 60%;
    }
}